body{
    padding:0;
    margin:0;
}
.c1 {
    margin: 0;
    padding:0;
    background-image: url("../imagesE/LA3.jpg");
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    animation-name: looping;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes looping {
    0% {
        background-image: url("../imagesE/R1.jpg");
    }

    25% {
        background-image: url("../imagesE/R2.jpg");
    }

    50% {
        background-image: url("../imagesE/R3.jpg");
    }

    75% {
        background-image: url("../imagesE/R4.jpg");
    }
}
.container {
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    max-width: 700px;
    width: 100%;
    padding: 30px 30px;
    background-color: wheat
}

    .container .title {
        font-size: 30px;
        font-weight: 700;
        position: relative;
        margin-bottom: 20px;
    }

    .container form .input-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

.user-details .input-box input {
    height: 50px;
    width: 100%;
    border-radius: 5px;
}


.details {
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    margin-bottom: 30px;
}

form .button input {
    height: 100%;
}

.option {
    width: 400px;
    display: block;
    height: 50px;
}
